<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>City Timezone</title>
        <meta http-equiv="viewport" content="width=device-width, initial-scale=1">
        <script src="https://use.fontawesome.com/547c5cce13.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="/static/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="title">
            <h2>Current Time</h2>
        </div>
        <div id="app">
            <div class="city">
                <input v-model="city" data-list="#cities" type="text" placeholder="City">
                <button class="btn" v-on:click="addToWatchList" :disabled="notEmptyCity"><i class="fa fa-plus plus" aria-hidden="true"></i></button>
                <ul id="cities">
                    <li v-for="city in cities" :key="city.id" v-on:click="setCity(city)">{{city.country}}, {{city.name}}</li>
                </ul>
            </div>
            <section>
                <div class="info" v-for="wl in watchlist">
                    <div class="date"><span>{{wl.datetime.weekday}} {{wl.datetime.day}} {{wl.datetime.month}} {{wl.datetime.year}}</span><i v-on:click="deleteCity(wl.city_id)" class="fa fa-window-close close" aria-hidden="true"></i></div>
                    <div class="location"><span>{{wl.city}}, {{wl.country}}</span></div>
                    <div class="zone"><span>{{wl.timezone}}</span></div>
                    <div class="hour"><span>{{wl.datetime.hour}}:{{wl.datetime.minute}}:{{wl.datetime.second}}</span></div>
                </div>
            </section>
        </div>
        <script src="https://unpkg.com/vue@2.5.13/dist/vue.js" type="text/javascript"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
        <script src="/static/js/app.js"></script>
    </body>
</html>
